* {
    font-family: monospace;
}

/*auth styles:*/

.auth-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container form {
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background: rgb(62, 68, 98);
    /*width: 220px;*/
    width: fit-content;
    display: block;
}

.auth-container button {
    margin: 25px 0 0;
    padding: 7px 10px;
    border: 1px solid rgb(239, 255, 255);
    border-radius: 3px;
    background: rgb(78, 114, 148);
    width: 100%;
    font-size: 15px;
    color: white;
    display: block;
    cursor: pointer;
}

.auth-container button:hover {
    background: #333644;
}

.auth-container p a {
    color: red;
    cursor: pointer;
}

.auth-text {
    /*box-shadow: 1px 4px 10px 1px #aaa;*/
    /*font-family: monospace;*/
    font-size: 18px;
    /*padding: 5px;*/
    margin-top: 90px;
}

/*dashboard styles:*/

form {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    /*font-family: monospace;*/
    /*font-family: sans-serif;*/
}

form textarea {
    height: 70px;
}

/*input[type=text],*/
textarea {
    width: 100%; /* Full width */
    height: 25px;
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input, select{
    display: block;
    height: 25px;
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

select {
    padding: 3px;
}

label {
    padding: 2px;
    height: 25px;
}

/*select {*/
/*    width: 200px;*/
/*    margin: 0 10px;*/
/*    padding: 5px;*/
/*    border: 1px solid #ccc; !* Gray border *!*/
/*    border-radius: 4px; !* Rounded borders *!*/
/*    box-sizing: border-box; !* Make sure that padding and width stays in place *!*/
/*}*/

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

button {
    padding: 3px;
    margin: 0 10px;
}

button:not(:disabled){
    cursor: pointer;
}

button:not(:disabled):hover{
    background: #9dc3e0;
}

.refresh-btn {
    height: 30px;
    padding: 1px;
    border: #04AA6D solid 2px;
    border-radius: 50%;
    margin: 30px 3px;
    cursor: pointer;
}

.refresh-btn:hover{
    border: #034d32 solid 2px;
}

#feedback-form {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    /*font-family: sans-serif;*/
    /*font-family: monospace;*/
}

#feedback-form * {
    box-sizing: border-box;
}

#feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
}

#feedback-form input {
    margin-bottom: 15px;
}

#feedback-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

#feedback-form label {
    color: #777;
    font-size: 0.8em;
}

#feedback-form input[type=checkbox] {
    float: left;
}

#feedback-form input:not(:checked) + #feedback-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#feedback-form #feedback-phone {
    transition: .3s;
}

#feedback-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    /*opacity: 0;*/
    cursor: pointer;
}

.main-navbar {
    margin-bottom: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #35455b;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;
}

a:visited {
    color: #e5e86c;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.status-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 5px;
}

.status-circle {
    border-radius: 45%;
    height: 15px;
    width: 15px;
    margin: 8px;
}

.connected {
    background: green;
}

.disconnected {
    background: red;
}

.dashboard-container {
    /*margin: 20px 0;*/
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sub-nav {
    /*margin: 10px 0;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.template-selection {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sent-emails {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
}

.email {
    background-color: rgb(62, 68, 98);
    margin: 20px;
    width: 400px;
    height: 435px;
}

.email-section-title {
    padding-top: 10px;
    color: rgb(168, 158, 237);
}

.email-status {
    padding: 8px;
    background-color: rgb(0, 0, 0);
}

.email-status-icon {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.phishing-form {
    /*font-family: monospace;*/
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    background: rgb(62, 68, 98);
    /* width: 220px; */
    width: -moz-fit-content;
    width: fit-content;
    display: block;
}

.phishing-form label {
    margin: 10px 0px 5px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 15px;
}

.phishing-form input, .phishing-form textarea {
    margin: 5px 0px 10px;
    padding: 5px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.form-section {
    margin-bottom: 45px;
}

/*layout styles:*/

.main-container {
    /*position: relative;*/
    /*!*height: 100%;*!*/
    /*height: 850px;*/
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-links li {
    float: left;
    /*padding: 8px;*/
}


/*NEW STYLES:*/

.home-page-container {
    width: 90%;
    display: inline-block;
}

.active-link {
    background-color: #4a693d;
    font-weight: bold;
}

.loader {
    border: 16px solid rgb(201 201 201);
    border-top: 16px solid #14b4a2;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 130px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-field-label {
    margin: 10px 0px 5px;
    font-size: 15px;
}

.label-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.label-tooltip:not(:hover){
    border-bottom: 1px dotted white;
}

.label-tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    background-color: #bdd8c2;
    color: #000;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -18px;
    left: 110%;
}

.label-tooltip:hover .tooltip-text {
    visibility: visible;
}