.layout {
    margin: 12px;
    border: 1px solid greenyellow;
    color: black;
    background-color: white;
}

.layout-link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout-link-list li {
    float: left;
    padding: 8px;
}

